/* Import Ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap');

/* Apply Ubuntu font to the whole page */
body, input, textarea, select, button {
  font-family: 'PT Serif', sans-serif;
}

/* Style for the app container */
.app-container {
  height: 100%;
}

.underline {
  text-decoration: underline;
}

.image-upload-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box-decoration {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 130px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-upload-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}

.image-upload-input {
  display: none;
}

.image-upload-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.image-upload-button:hover {
  background-color: #3e8e41;
}

.img-display-before {
  height: 200px;
  width: 200px;
  margin-left: 35px;
}

.img-display-after {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

